body{

    display: flex;
    flex-direction: column;
    background-color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1;
    border: 1px sandybrown;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
flex: 2;
overflow-y: auto;
}
.Logo {
    position: relative; /* add a relative position to the logo */
  }
  
  .Logo {
    font-size: 48px; /* adjust the size of the logo */
    color: #333; /* change the color of the logo */
    margin: 10px; /* add some space around the logo */
    cursor: pointer; /* change the cursor shape when hovering over the logo */
  }
  
  .Logo:hover {
    color: #666; /* change the color of the logo on hover */
    transform: scale(1.1); /* scale the logo up on hover */
  }